@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --body-main-bg: white;
  --body-primary-bg: rgb(249 249 255);
  --body-secondary-bg: linear-gradient(
    0deg,
    rgb(132, 144, 255) 0%,
    rgb(98, 189, 252) 100%
  );
  --body-secondary-support-bg: -webkit-linear-gradient(
    0deg,
    rgb(132, 144, 255) 0%,
    rgb(98, 189, 252) 100%
  );
  --text-heading: #282c34;
  --text-para: #777;
  --text-para-tint: #e4e4e4;
  --text-primary: #212529;
  --hepler: #8490ff;
  --helper-tint: #f3f4ff;
  --box-shadow-main: 0px 0px 20px 0px rgb(132 144 255/ 20%);
  --box-shadow-primary: 0px 20px 20px 0px rgb(132 144 255 / 30%);
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--text-heading);
  font-size: 6rem;
  font-weight: 600;
}

h3 {
  font-size: 1.8rem;
  font-family: 400;
}

p {
  color: var(--text-para);
  line-height: 1.6;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* =================================
Resuable Code Section 
==================================== */

.section {
  padding: 6rem 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 6rem;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
